<h1><%= @list.name %></h1>

<% if @list.photo.attached? %>
  <%= cl_image_tag(@list.photo.key,
  width: 400, height: 300, crop: :fill)%>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
   <%= f.submit class: 'btn btn-primary' %>
<% end %>

<% @bookmarks.each do |bookmark|%>
<%= bookmark.movie.title %>
  <%= bookmark.comment  %>
   <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%end %>



<%=link_to "Go Back", lists_path%>
